#wrapper
  #side-bar
    .header
      %p<
        sample太郎
        %span.icons
          = link_to destroy_user_session_path, method: :delete do
            = icon "sign-out", class: :icon
          = link_to edit_user_registration_path do
            = icon "cog", class: :icon
          = icon "pencil-square-o", class: :icon
    %ul.chats
      %li.chats__list#selected<
        %p.chats__list--name<
          sample1
        %p.chats__list--message<
          hogehoge1
      %li.chats__list<
        %p.chats__list--name<
          sample2
        %p.chats__list--message<
          hogehoge2
      %li.chats__list<
        %p.chats__list--name<
          sample3
        %p.chats__list--message<
          hogehoge3
  #main
    .contents
      .header
        .info
          %p.info__name<
            sample1
          %p.info__members<
            Members: sample太郎,sample花子 ..
            %a
              = icon "plus-circle"
        .buttons<
          %ul
            %li.buttons__list<
              Edit

      .container
        %ul
          %li.message
            %p.message__name<
              sample花子
              %span<
                2017/02/07 06:27:02
            %p.message__text<
              hogehogeなう
          %li.message.my-message
            %p.message__name<
              sample太郎
              %span<
                2017/02/07 06:27:34
            %p.message__text<
              hoge~~~~~
          %li.message
            %p.message__name<
              sample花子
              %span<
                2017/02/07 06:27:56
            %p.message__text<
              おらおら
          %li.message
            %p.message__name<
              sample花子
              %span<
                2017/02/07 06:28:33
            %p.message__text<
              おい
          %li.message
            %p.message__name<
              sample花子
              %span<
                2017/02/07 06:27:02
            %p.message__text<
              hogehogeなう
          %li.message.my-message
            %p.message__name<
              sample太郎
              %span<
                2017/02/07 06:27:34
            %p.message__text<
              hoge~~~~~
          %li.message
            %p.message__name<
              sample花子
              %span<
                2017/02/07 06:27:56
            %p.message__text<
              おらおら
          %li.message
            %p.message__name<
              sample花子
              %span<
                2017/02/07 06:28:33
            %p.message__text<
              おい
      .form-wrapper
        %form
          %input.text{type: :text, placeholder: "type a message"}
          %input.button{type: :submit, value: "Send"}
