#wrapper
  #side-bar
    .header
      %p<
        = current_user.name
        %span.icons
          = link_to destroy_user_session_path, method: :delete do
            = icon "sign-out", class: :icon
          = link_to edit_user_registration_path do
            = icon "cog", class: :icon
          = icon "pencil-square-o", class: :icon
    %ul.chats
      - @groups.each do |group|
        = link_to group_messages_path(group.id) do
          - if group.id.to_s == params[:group_id]
            %li.chats__list#selected<
              %p.chats__list--name<
                = group.name
              %p.chats__list--message<
                - unless group.messages.last.nil?
                  = group.messages.last.text
                - else
                  メッセージがありません
          - else
            %li.chats__list<
              %p.chats__list--name<
                = group.name
              %p.chats__list--message<
                - unless group.messages.last.nil?
                  = group.messages.last.text
                - else
                  メッセージがありません
  #main
    .contents
      .header
        .info
          %p.info__name<
            = @group.name
          %p.info__members<
            Members:
            - @group.users.each do |user|
              = user.name
            %a
              = icon "plus-circle"
        .buttons<
          %ul
            = link_to edit_group_path(@group.id) do
              %li.buttons__list<
                Edit
      .container
        %ul
          - @messages.each do |message|
            %li.message
              %p.message__name<
                = message.user.name
                %span<
                  = message.created_at
              %p.message__text<
                = message.text
      .form-wrapper
        = form_for @message, url: "/groups/#{@group.id}/messages" do |f|
          = f.text_field :text, class: :text, placeholder: 'type a message'
          = f.submit 'Send', class: :button
