!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ChatSpace
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": true
    = javascript_include_tag "application", "data-turbolinks-track": true
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      - key = "info" if key == "notice"
      - key = "danger" if key == "alert"
      .alert
        = content_tag :div, class: "alert__#{key}" do
          %span#close<
            ×
          = value
    = yield
